*{
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

.btn1{
    margin: 10px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}


#Awhite{
    text-decoration: none;
    color: #ffffff;
}


.header-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.header{
    background: radial-gradient(#0b0b0b,#222222); <!-- add background color the first color code and the second color code -->
}

.header .row{
    margin-top: 70px;
}

.prise{
    color: #ffffff;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    position: relative;

}

.col-4 P{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform:translateY(-5px);
}


.pro{
    width: auto;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

  .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .col-4:hover .image {
    opacity: 0.3;
  }

  .col-4:hover .middle {
    opacity: 1;
  }


  #desc{
      color: white;
      background: black;
      size: 15px;
      margin: 5px;
  }

  #name-of-product-shopping{
      color: white;
  }

   #shop-now-btn-shop{
    text-decoration: none;
    color: inherit;
    background: none;

  }

     #add-to-cart-btn{
    background: #ff523b;
    border-radius: 30px;
    color: white;
    margin: 5px;
    padding: 5px;
    border: none;
    width: 100%;
    font-size: 15px;
    transition: background 0.5s;
    cursor:pointer;


}


#add-to-cart-btn:hover{
    background: #563434;
}

#add-to-cart-link{
    text-decoration: none; /* no underline */
}

span.step {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
  }

