

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOUELI | D0018E </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="header">
    <div class="container">
       <div class="navbar">
        <div class="logo">
             <a id="Awhite" href="/">
                <img src="{{url_for('static', filename='logo3.png')}}" width="250px"  />
            </a>
        </div>

    </div>
    </div>
    <div class="login">
      <div class="form-box">
          <div class="button-box">
              <div id="login-btn"></div>
              <h1 id="test">
                Login
              </h1>
          </div>
          <div>
              <h1 id="ErrorMsg" > {{errormsg}} </h1>
          </div>
          <!-- login form -->
          <form id="login" class="input-group" action="{{ url_for('LoginPage.login') }}" method="post">
              <input type="email" id="email" name="email" class="input-field" placeholder="Email" required>
              <input type="password" id="password" name="password" class="input-field" placeholder="Enter Password" required>
              <input id="sbtn" value="Login" type="submit"/>
              <div class="not_reg_yet">
                <h1 id="not_reg_yet_text" > Not registered yet?  <br> <a id="not_reg_yet" href="/register"> Register now! </a> </h1>
              </div>

          </form>


      </div>
    </div>
</div>

</div>
</body>
</html>
