<!--https://www.geeksforgeeks.org/how-to-float-three-div-side-by-side-using-css/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOUELI | D0018E </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PlaceOrder.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="header">
    <div class="header-container">
       <div class="navbar">
        <div class="logo">
              <a id="Awhite" href="/">
                <img src="{{url_for('static', filename='logo3.png')}}" width="250ox"  />
            </a>
        </div>

           {%  if logged %}
        <nav>
            <ul>
                <li> <a id="Awhite" href="/"> Home </a> </li>
                <li> <a id="Awhite" href="/shop"> shop </a> </li>
                <li> <a id="Awhite" href="/profile"> Profile </a> </li>
            </ul>
        </nav>
            {% else %}
              <nav>
            <ul>
                <li> <a id="Awhite" href="/"> Home </a> </li>
                <li> <a id="Awhite" href="/shop"> shop </a> </li>
            </ul>
        </nav>
            {% endif %}



           <a href="/cart"> <!-- link to cart-->
               <img class="btn1" src="{{url_for('static', filename='shopping-bag.png')}}" width="30px" height="30px">
           </a>
             {% if logged and counter>0 %}
                <span class="step">{{ counter }}</span>
             {% endif %}

                  {% if logged %}
               <a href="/logout"> <!-- link to login page-->
                <img class="btn1"  src="{{url_for('static', filename='logout.png')}}" width="30px" height="30px">
                </a>

           {% else %}

                <a href="/login"> <!-- link to logout page-->
                <img class="btn1"  src="{{url_for('static', filename='user.png')}}" width="30px" height="30px">
                </a>
           {% endif %}
       </div>
    </div>
</div>

<!-- ---------------------------changes starts here---------------------->


<div id="main-box">
    <div id = "leftbox">

         <h1 id="enter-info-text">Enter your information</h1>

        <div id="order-boxes">

           <form action="" method="POST">

            <div id="text-box1">
                <h3 id="firstname" >First Name:</h3>
                <h3 id="firstname" > {{ firstname }}</h3>
            </div>

            <div id="text-box2">
                <h3 id="lastname" >Last Name:</h3>
                <h3 id="lastname" > {{ lastname }} </h3>
            </div>

            <br>


            <div id="text-box3">
                <h3 id="firstname" >Email:</h3>
            </div>

            <br>

            <div id="text-box3">
                <h3 id="lastname" >Phone Number: </h3>
                <input name="edit-email" type="email" class="input-field" placeholder="Email: {{email}}" >
            </div>

            <br>

            <div id="text-box3">
                <h3 id="firstname" >Adress: </h3>
                <input name="edit-email" type="email" class="input-field" placeholder="Email: {{email}}" >
            </div>


            <br>
           </form>
         </div>
    </div>



    <div id = "rightbox">
        <h1 id="total-amount"> Total amount:</h1>
        <hr>
        <div id="deltotal-box">
            <h2 id="Deltotal">Deltotal: </h2>
            <h2 id="Deltotal-right">25$</h2>
        </div>
        <div id="deltotal-box">
            <h2 id="Deltotal">Shipping: </h2>
            <h2 id="Deltotal-right">25$</h2>
        </div>
        <hr>
        <div id="deltotal-box">
            <h2 id="Deltotal">Total: </h2>
            <h2 id="Deltotal-right">50$</h2>
        </div>

        <div id="btn-box">
            <a href="/">
            <button id="checkout-btn" >Place order</button>
            </a>
        </div>






    </div>


<!----------------------------------------------------------------------->


</body>
</html>